/*
 * Custom styling for the page header.
 */

.navbar-brand img {
    margin-bottom: -20px;
    position: relative;
    top: -10px;
}

.navbar-form {
    margin-right: -15px;
    padding-right: 0;
}

/* Hide the name to go with the new header */
@media (min-width: 768px) {
    .navbar-header {
        display: none;
    }

    .navbar {
        background: #4a4a4a;
    }

    .navbar-default .navbar-nav > li > a {
        color: #FFF;
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #DDD;
    }

    .navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #FFF;
        border-bottom-color: #FFF;
    }

    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #DDD;
        border-bottom-color: #DDD;
    }

    .navbar-default .navbar-nav > .dropdown.open > a .caret,
    .navbar-default .navbar-nav > .dropdown.open > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown.open > a:focus .caret {
        border-top-color: #555;
        border-bottom-color: #555;
    }

    .navbar > .container {
        padding: 0;
    }

    .navbar-collapse {
        padding-left: 0;
    }
}

header {
    background: #F5F5F5;
    padding: 15px 0 28px 0;
}

.header-inner-wrap {
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.header-contact-link {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 9px;
    right: 0;
    -webkit-font-smoothing: antialiased;
}

.header-nav {
    color: #000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background: #cacaca;
    -webkit-font-smoothing: antialiased;
    padding: 14px 0;
}

.header-nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.header-nav ul li {
    display: inline-block;
}

.header-nav ul li a {
    color: #000;
    padding: 16px 14px;
    text-decoration: none;
}

.header-nav ul li a.active,
.header-nav ul li a:hover {
    color: #FFF;
    background: #4a4a4a;
}

@media (max-width: 768px) {
    header, nav, .navbar-brand .short-title {
        display: none;
    }

    .navbar-brand img {
        width: auto;
    }
}

footer {
    background: #4c4343;
    padding-top: 15px;
    padding-bottom: 39px;
    margin-top: 15px;
}

footer, footer a, footer a:hover, footer a:active {
    color: #FFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.footer-inner-wrap {
    padding: 0;
    position: relative;
}

footer .copyright {
    font-weight: bold;
}

footer .contact {
    float: right;
}

@media (max-width: 768px) {
    .footer-inner-wrap {
        padding: 0 15px;
    }
}

/*
 * Custom styling for the image results.
 */

.results-side {
    padding: 0;
}

.results-main {
    overflow: auto;
}

.img {
    margin-bottom: 15px;
}

.img .details {
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
    overflow: hidden;
    color: #FFF;
    padding: 0 5px;
    margin-top: 5px;
    max-height: 20px;
}

.img .details a {
    color: #FFF;
    overflow: auto;
}

.img .img-wrap {
    height: 220px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 220px;
}

.img .img-wrap img {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/*
 * Styling for the artwork search form.
 */

.search-form {
    padding-bottom: 0;
}

.date-control {
    display: inline-block;
    width: 46px;
    padding: 6px;
}

.size-control {
    display: inline-block;
    width: 46px;
    padding: 6px;
}

/*
 * Styling for the facets in the search results.
 */

.facet ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.facet .toggle-facets {
    margin-top: 5px;
}

.facet .extra-facets {
    display: none;
}

/*
 * Styling for the Bootstrap Carousel
 */

.carousel-control {
    background: rgba(0, 0, 0, 0.5) !important;
    max-width: 50px !important;
    width: 10% !important;
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 0 !important;
    width: 100% !important;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 0 !important;
    width: 100% !important;
}
.carousel-indicators {
    bottom: 0 !important;
}

/*
 * Styling for the metadata view.
 */

.table > tbody > tr.plain > th,
.table > tbody > tr.plain > td {
    border-top: none;
}

.table > tbody > tr.plain:hover > th,
.table > tbody > tr.plain:hover > td {
    background: #fff;
}

/*
 * Styling for the import artwork view.
 */
pre.json {
    max-height: 200px;
    overflow: auto;
}
